# Configurações do Banco de Dados
DATABASE_URL=mysql+mysqlconnector://username:password@localhost/supply_chain_system

# Chave secreta para Flask
SECRET_KEY=sua-chave-secreta-aqui

# Ambiente (development, production)
FLASK_ENV=development
